body {
  margin: 0;
  padding: 10vh 10vw;
  background: #2b2d42;
  overflow: hidden;
}

.intro {
  color: #8d99ae;
  font-family: monospace;
  font-weight: bold;
  font-size: 4.1vh;
  margin-top: 0px;
}

* {
  box-sizing: border-box;
}

p {
  font-family: monospace;
  font-weight: bold;
  font-size: 4.1vh;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
}
#console {
width: 100%;
height: auto;
padding: 10vh 10vw;
}
a {
color: #edf2f4;
text-decoration: none;
}
a:hover {
color: #e9edc9;
}
label {
font-family: monospace;
color: whitesmoke;
}