body {
  margin: 0;
  padding: 10vh 10vw;
  background: #2b2d42;
  overflow: hidden;
}

.intro {
  color: #8d99ae;
  font-family: monospace;
  font-weight: bold;
  font-size: 4.1vh;
  margin-top: 0px;
}
a {
color: #e9edc9;
text-decoration: none;
}
a:hover {
color: #edf2f4;
}
label {
font-family: monospace;
color: whitesmoke;
}

* {
  box-sizing: border-box;
}

p {
  font-family: monospace;
  font-weight: bold;
  font-size: 4.1vh;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: white;
}
p:first-child {
  color: #ef233c;
}
p:first-child * {
  color: black;
}


#console {
width: 100%;
height: auto;
padding: 0vh 10vw;
margin-top: 10vh;
background-color: #1a1a1a;
border-top: 0.1rem solid #ef233c;
}
.chff {
color: green;
}

